{
  "variables": [
    {
      "name": "SLACK_WEBHOOK_URL",
      "desc": "The slack webhook URL for messaging.",
      "required": true
    },
    {
      "name": "SLACK_COLOR",
      "desc": "The border color of the slack message.",
      "required": true
    },
    {
      "name": "SLACK_MSG",
      "desc": "The slack message to send.",
      "required": true
    },
    {
      "name": "SLACK_ARTIFACTS",
      "desc": "The slack block to send alongside the message.",
      "required": false
    }
  ]
}