{
  "variables": [
    {
      "name": "SA_WEBSITE_URL",
      "desc": "The URL of the website to check for uptime.",
      "required": true
    },
    {
      "name": "DISCORD_WEBHOOK_URL",
      "desc": "The discord webhook URL for messaging.",
      "required": true
    },
    {
      "name": "DISCORD_SUCCESS_EMOJI",
      "desc": "The emoji to add to the discord message on success.",
      "required": true
    },
    {
      "name": "DISCORD_FAILURE_EMOJI",
      "desc": "The emoji to add to the discord message on failure.",
      "required": true
    },
    {
      "name": "SA_IS_SLEEPER_SCRIPT",
      "desc": "If set to 'false', the script executes a single time and dies. Otherwise it runs in a loop.",
      "required": false,
      "values": [
        "true",
        "false"
      ]
    },
    {
      "name": "SA_SLEEP_DURATION",
      "desc": "The sleep duration between uptime checks.",
      "required": false
    }
  ]
}